// .body-destination{
//     background-image: url("../Images/destination-bg.png");
//     background-repeat: no-repeat;
//     background-size: 100%;
// }
.site__destination-header {
    padding: 40px 0 76px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo-link {
    display: inline-block;
}
.header__navbar {
    width: 830px;
    height: 96px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.header__navbar::before{
    content: " ";
    width: 315px;
    height: 1px;
    opacity: 0.2515;
    background-color: #FFF;
    position: absolute;
    left: -280px;
    top: 48px;
    bottom: 0;
}
.header__list {
    padding: 38px 123px;
    display: flex;
    align-items: center;
}
.header__item + .header__item{
    margin-left: 50px;
}
.header__link {
    padding-bottom: 38px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    position: relative;
}
.header__link::before{
    content: " ";
    width: 0;
    height: 3px;
    background-color: #FFF;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
.header__link:hover::before{
    width: 100%;
}
.header__link:active::before{
    width: 100%;
    opacity: 0.5;
}
.header__link-bold {
    margin-right: 12px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}